client {
    # Corner 0 to 3 - bottom right, bottom left, top right, top left
    I:"HUD Corner"=0

    # Render armor around hotbar (instead of with tools)
    B:"Armor around hotbar"=true

    # Minecraft Color 0 .. 15
    I:"Tooltip Color"=10

    # Show effect durations
    B:"Effect Duration"=false

    # Play sound when durability below X percent
    I:"Minimum Percent"=10

    # Play sound when durability below X
    I:"Minimum Durability"=20

    # Set window title to player and server name
    B:"Set window title"=false

    # Show damage instead of durability while the item is still better than this %
    I:"Percent to show damage"=100

    # Show chest icon with number of free inventory slots
    B:"Show chest icon"=false
}
